body{
    background-color: #EDE6DB;
    margin: 0px 0px 0px 0px;
}

h1{
    color: blue;
    text-align: center;
}

.pageNav{
 color: black;
 font-size: 1.5rem;
 padding-left: 2rem;
}

.pageNav:hover{
    color: tomato;
}

main{
    text-align: center;
}

footer{
    padding-top: 35rem;
    text-align: center;
}

#tableID{
    margin-left: 37rem;
    margin-top: 10rem;;
    text-align: center;
    font-size: 1.25rem;
    color: #B20600;
}

tfoot{
    color: bisque;
    background-color: #00092C;
}